<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="../../../assets/images/wallet.png" style="
  width: 100%;
  max-width: 30px;
  height: auto;
" alt="Profile Photo" class="rounded-circle">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Username
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">My Account</a>
          <a class="dropdown-item" href="#">Edit Profile</a>
          <a class="dropdown-item" href="#">Change Password</a>
        </div>
      </li>
    </ul>
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-outline-success my-2 my-sm-0 dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Add Transaction
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#"
          ><span class="text-success">Add Income</span>
        </a>
        <a class="dropdown-item" style="cursor:pointer" data-toggle="modal" data-target="#expense_modal" 
          ><span class="text-danger">Add Expense</span></a
        >
      </div>
    </div>
    <button class="btn btn-outline-primary my-3 my-sm-0 ml-2" type="button">
      View Reports
    </button>
  </div>
</nav>
