<br />
<app-add-income></app-add-income>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-4">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Last Month</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">This Month</a>
              </li>
            </ul>
          </div>
      </nav>

      <div class = "row">
        <div class = "col">
          <p>Cash Inflow</p>
        </div>
        <div class="col">
          <p>{{cashInflow}}</p>
        </div>
      </div>
      <div class = "row">
        <div class = "col">
          <p>Cash Outflow</p>
        </div>
        <div class="col">
          <p>{{cashOutflow}}</p>
        </div>

      </div>
      <div class = "row">
        <div class = "col">
          <p>Monthly Balance</p>
        </div>


      </div>
    </div>
  </div>
</div>
<div style="text-align: center">
  <h2>Expense List</h2>
</div>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Expense Id</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exp of expenses">
        <td>{{ exp.id }}</td>
        <!--Interpolation-->
        <td>{{ exp.description }}</td>
        <td>{{ exp.amount }}</td>
        <td>{{ exp.expense_date }}</td>
      </tr>
    </tbody>
  </table>
</div>
<br /><br />
<div style="text-align: center">
  <h2>Income List</h2>
</div>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Income Id</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let inc of income">
        <td>{{ inc.id }}</td>
        <!--Interpolation-->
        <td>{{ inc.description }}</td>
        <td>{{ inc.amount }}</td>
        <td>{{ inc.created_on }}</td>
      </tr>
    </tbody>
  </table>
</div>

<app-expense-modal></app-expense-modal>